<header class='c-header'>
    <div class='o-grid'>
        <div class='c-header__inner'>
            <div class='c-logo'>
                <a href='/' class='u-block'>
                    <img class='c-logo__img' src='img/logo.svg' alt='Beirut' width='' height=''>
                </a>
            </div>

            <div class='c-nav-wrap'>
                <ul class='c-nav u-plain-list'>
                <li class='c-nav__item c-nav__item--main'><a href='https://beirut.aspirethemes.com/work/' class='c-nav__link' >Work</a></li>
                <li class='c-nav__item c-nav__item--main'><a href='https://beirut.aspirethemes.com/writing/' class='c-nav__link' >Writing</a></li>
                <li class='c-nav__item c-nav__item--main'><a href='https://beirut.aspirethemes.com/about/' class='c-nav__link' >About</a></li>
                <li class='c-nav__item c-nav__item--main'><a href='https://beirut.aspirethemes.com/elements/' class='c-nav__link' >Elements</a></li>
                <li class='c-nav__item c-nav__item--main'><a href='https://beirut.aspirethemes.com/author/amelia/' class='c-nav__link' >- Author page</a></li>
                <li class='c-nav__item c-nav__item--main'><a href='https://beirut.aspirethemes.com/tag/app-design/' class='c-nav__link' >- Tag page</a></li>
                <li class='c-nav__item c-nav__item--search'><button class="gh-search-icon" aria-label="search" data-ghost-search style="display: inline-flex; justify-content: center; align-items: center; width: 32px; height: 32px; padding: 0; border: 0; color: inherit; background-color: transparent; cursor: pointer; outline: none;"><svg width="20" height="20" fill="none" viewBox="0 0 24 24"><path d="M14.949 14.949a1 1 0 0 1 1.414 0l6.344 6.344a1 1 0 0 1-1.414 1.414l-6.344-6.344a1 1 0 0 1 0-1.414Z" fill="currentColor"/><path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-9 7a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" fill="currentColor"/></svg></button></li>
                </ul>
            </div>

        <div class='js-nav-toggle c-nav-toggle'>
            <span class='c-nav-toggle__icon'></span>
        </div>
        </div>
    </div>
</header>