<div class="c-section c-section--services">
    <div class="o-grid o-grid--2-columns">
        <div>
            <div class="c-section-headline">
                <h2 class="c-section-headline__title">Services</h2>
            </div>
    
        <ul class="u-plain-list c-list-items c-list-items--has-counter">
            <li>Fencing</li>
            <li>Framing</li>
            <li>Grading</li>
            <li>Landscaping</li>
            <li>Painting</li>
            <li>Plumbing</li>
            <li>Roofing</li>   
        </ul>
        </div>

        <div>
            <div class="c-section-headline">
                <h2 class="c-section-headline__title">Coverage Areas</h2>
            </div>
    
        <ul class="u-plain-list c-list-items c-list-items--has-counter">
            <li>Sonoma County</li>
            <li>Marin County</li> 
        </ul>
        </div>
        
    </div>
</div>