---
title: Luis López
layout: "base.njk"
---

<!-- <section>
    <a href="tel:7079742498">Ph: 707.974.2498</a>
</section> -->

<div class="c-intro">
    <div class="o-grid">
        <h1 class="c-intro__heading u-font-heading">¶ Luis López 
            <img src="https://media.istockphoto.com/photos/safety-team-help-employee-accident-falling-scaffolding-to-the-floor-picture-id1332162803?b=1&k=20&m=1332162803&s=170667a&w=0&h=Rb5fs-NA8jMsgRVM9LG9Nx7YwgLTICat9A1RzDJwVHg=" 
            alt="profile photo of luis" width="35" height="35"> 
            is a Freelance construction worker based in Santa Rosa, CA  ● Luis has 10 + years of experience in the field 
            – Now, he also works as an independent contractor, 
            
           <div>
            <span>
                <a href="tel:7079742498">Ph: 707.974.2498 get in touch </a>
            . ✌︎
            </span>
           </div>
        </h1>
    </div>
</div>


{% include 'services.njk' %}